<!-- wp:template-part {"slug":"header","theme":"gydigital","tagName":"header"} /-->

<!-- wp:html -->
<style>
	.archive-grid {grid-gap:64px;}
        .archive-grid li{border:4px solid #eee;}
.archive-grid li:nth-of-type(2n){margin-top:64px;}
	.archive-grid li:nth-of-type(odd){margin-top:0;margin-bottom:64px;}
.archive-grid img{max-height:240px;}
@media (min-width:540px) {
	.archive-grid {grid-template-columns:1fr 1fr}
}</style>
<!-- /wp:html -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"24px","right":"24px","bottom":"24px","left":"24px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:24px;padding-right:24px;padding-bottom:24px;padding-left:24px"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"backgroundColor":"main","textColor":"white"} /-->

<!-- wp:term-description /-->

<!-- wp:query {"queryId":100,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"gy-grid archive-grid"} -->
<!-- wp:post-featured-image {"sizeSlug":"medium"} /-->
<!-- wp:post-title {"textAlign":"center","isLink":true} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"gydigital","tagName":"footer"} /-->