<!-- wp:template-part {"slug":"header","theme":"gydigital","tagName":"header"} /-->

<ul class="wp-block-categories-list alignwide wp-block-categories">
<li class="cat-item cat-item-195"><a href="https://www.pokemongroup.com/call-of-duty-mobile/">Call of Duty Mobile</a>
</li>
<li class="cat-item cat-item-468"><a href="https://www.pokemongroup.com/dead-by-daylight/">Dead By Daylight</a>
</li>
<li class="cat-item cat-item-155"><a href="https://www.pokemongroup.com/draconius-go/">Draconius Go</a>
</li>
<li class="cat-item cat-item-229"><a href="https://www.pokemongroup.com/hero-wars/">Hero Wars</a>
</li>
<li class="cat-item cat-item-173"><a href="https://www.pokemongroup.com/jurassic-world-alive/">Jurassic World Alive</a>
</li>
<li class="cat-item cat-item-228"><a href="https://www.pokemongroup.com/kof-allstar/">KOF Allstar</a>
</li>
<li class="cat-item cat-item-226"><a href="https://www.pokemongroup.com/marvel-super-war/">Marvel Super War</a>
</li>
<li class="cat-item cat-item-193"><a href="https://www.pokemongroup.com/minecraft-earth/">Minecraft Earth</a>
</li>
<li class="cat-item cat-item-151"><a href="https://www.pokemongroup.com/pokemon-duel/">Pokemon Duel</a>
</li>
<li class="cat-item cat-item-2"><a href="https://www.pokemongroup.com/pokemon-go/">Pokemon Go</a>
</li>
<li class="cat-item cat-item-207"><a href="https://www.pokemongroup.com/pokemon-masters/">Pokemon Masters</a>
</li>
<li class="cat-item cat-item-79"><a href="https://www.pokemongroup.com/pokemon-sun-and-moon/">Pokemon Sun and Moon</a>
</li>
<li class="cat-item cat-item-184"><a href="https://www.pokemongroup.com/pubg-mobile/">PUBG Mobile</a>
</li>
<li class="cat-item cat-item-471"><a href="https://www.pokemongroup.com/twd-survivors/">TWD Survivors</a>
</li>
<li class="cat-item cat-item-158"><a href="https://www.pokemongroup.com/wizards-unite/">Wizards Unite</a>
</li>
<li class="cat-item cat-item-486"><a href="https://www.pokemongroup.com/wild-rift/">Wild Rift</a>
</li>
</ul>

<!-- wp:html -->
<style>
	.wp-block-categories {display:flex;list-style:none;flex-wrap: wrap;margin: 1.5rem;}
	.wp-block-categories li{margin:8px 4px;padding:8px 6px;border:4px solid #eee;flex-grow:1;text-align:center;}
	.home-grid {grid-gap:20px;padding:0 12px;}
	.home-grid li { margin-block-start: 1.5rem;position:relative;border: 4px solid var(--wp--preset--color--main)}
	.home-grid figure{margin:0;background:var(--wp--preset--color--white)}
	.home-grid-text{padding:20px}
	.home-grid-3 li{border:6px solid #eee}
	.home-grid-3 li:nth-child(2) figure {order: 2;}
	.home-grid-text h2 a{color:#000;}
@media (min-width:540px) {
	.home-grid-1 {grid-template-columns:5fr 3fr;}
	.home-grid-1 li:nth-child(3) {grid-column: 1 / 3;display:grid;grid-template-columns:1fr 1fr;}
	.home-grid-2 {grid-template-columns:1fr 1fr;}
	.home-grid-3 {grid-template-columns:1fr 1fr;}
	.home-grid-3 li:first-child {grid-row: 1 / 3}
	.home-grid-3 li:nth-child(2) {display:grid;grid-template-columns:1fr 1fr;}
	.home-grid-3 li:nth-child(3) {display:grid;grid-template-columns:1fr 1fr;}
}
@media (min-width:900px) {
	.home-grid-top{grid-template-columns:5fr 2fr;}
	.home-grid-2 {grid-template-columns:unset;}
	
}</style>
<!-- /wp:html -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","className":"gy-grid home-grid-top"} -->
<div class="wp-block-group alignwide gy-grid home-grid-top"><!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-1"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:query {"queryId":2,"query":{"perPage":2,"pages":0,"offset":3,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-2"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<h3 style="text-align:center;">
	More Games<br>
</h3>
<ul class="wp-block-categories-list alignwide wp-block-categories">
<li class="cat-item cat-item-198"><a href="https://www.pokemongroup.com/blood-and-truth/">Blood and Truth</a>
</li>
<li class="cat-item cat-item-470"><a href="https://www.pokemongroup.com/diablo-immortal/">Diablo Immortal</a>
</li>
<li class="cat-item cat-item-200"><a href="https://www.pokemongroup.com/dragon-quest-walk/">Dragon Quest Walk</a>
</li>
<li class="cat-item cat-item-220"><a href="https://www.pokemongroup.com/fire-emblem-heroes/">Fire Emblem Heroes</a>
</li>
<li class="cat-item cat-item-485"><a href="https://www.pokemongroup.com/genshin-impact/">Genshin Impact</a>
</li>
<li class="cat-item cat-item-139"><a href="https://www.pokemongroup.com/magikarp-jump/">Magikarp Jump</a>
</li>
<li class="cat-item cat-item-225"><a href="https://www.pokemongroup.com/mario-kart-tour/">Mario Kart Tour</a>
</li>
<li class="cat-item cat-item-152"><a href="https://www.pokemongroup.com/pokemon-playhouse/">Pokemon Playhouse</a>
</li>
</ul>

<!-- wp:spacer -->
<div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":3,"query":{"perPage":3,"pages":0,"offset":5,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-1"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:spacer -->
<div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<div class="is-layout-constrained alignwide">
<div class="gcse-searchbox-only"></div>
<p></p>
</div>

<!-- wp:spacer -->
<div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":4,"query":{"perPage":3,"pages":0,"offset":8,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-3"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:spacer -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","className":"gy-grid home-grid-top"} -->
<div class="wp-block-group alignwide gy-grid home-grid-top"><!-- wp:query {"queryId":4,"query":{"perPage":3,"pages":0,"offset":12,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-1"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:query {"queryId":5,"query":{"perPage":2,"pages":0,"offset":15,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"gy-grid home-grid home-grid-2"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"100%","sizeSlug":"large","align":"wide"} /-->

<!-- wp:group {"className":"home-grid-text"} -->
<div class="wp-block-group home-grid-text"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:42px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<ul class="wp-block-categories-list alignwide wp-block-categories">
<li class="cat-item cat-item-194"><a href="https://www.pokemongroup.com/battle-royale/">Battle Royale</a>
</li>
<li class="cat-item cat-item-198"><a href="https://www.pokemongroup.com/blood-and-truth/">Blood and Truth</a>
</li>
<li class="cat-item cat-item-195"><a href="https://www.pokemongroup.com/call-of-duty-mobile/">Call of Duty Mobile</a>
</li>
<li class="cat-item cat-item-468"><a href="https://www.pokemongroup.com/dead-by-daylight/">Dead By Daylight</a>
</li>
<li class="cat-item cat-item-470"><a href="https://www.pokemongroup.com/diablo-immortal/">Diablo Immortal</a>
</li>
<li class="cat-item cat-item-155"><a href="https://www.pokemongroup.com/draconius-go/">Draconius Go</a>
</li>
<li class="cat-item cat-item-200"><a href="https://www.pokemongroup.com/dragon-quest-walk/">Dragon Quest Walk</a>
</li>
<li class="cat-item cat-item-220"><a href="https://www.pokemongroup.com/fire-emblem-heroes/">Fire Emblem Heroes</a>
</li>
<li class="cat-item cat-item-485"><a href="https://www.pokemongroup.com/genshin-impact/">Genshin Impact</a>
</li>
<li class="cat-item cat-item-229"><a href="https://www.pokemongroup.com/hero-wars/">Hero Wars</a>
</li>
<li class="cat-item cat-item-173"><a href="https://www.pokemongroup.com/jurassic-world-alive/">Jurassic World Alive</a>
</li>
<li class="cat-item cat-item-228"><a href="https://www.pokemongroup.com/kof-allstar/">KOF Allstar</a>
</li>
<li class="cat-item cat-item-139"><a href="https://www.pokemongroup.com/magikarp-jump/">Magikarp Jump</a>
</li>
<li class="cat-item cat-item-225"><a href="https://www.pokemongroup.com/mario-kart-tour/">Mario Kart Tour</a>
</li>
<li class="cat-item cat-item-226"><a href="https://www.pokemongroup.com/marvel-super-war/">Marvel Super War</a>
</li>
<li class="cat-item cat-item-193"><a href="https://www.pokemongroup.com/minecraft-earth/">Minecraft Earth</a>
</li>
<li class="cat-item cat-item-151"><a href="https://www.pokemongroup.com/pokemon-duel/">Pokemon Duel</a>
</li>
<li class="cat-item cat-item-2"><a href="https://www.pokemongroup.com/pokemon-go/">Pokemon Go</a>
</li>
<li class="cat-item cat-item-207"><a href="https://www.pokemongroup.com/pokemon-masters/">Pokemon Masters</a>
</li>
<li class="cat-item cat-item-152"><a href="https://www.pokemongroup.com/pokemon-playhouse/">Pokemon Playhouse</a>
</li>
<li class="cat-item cat-item-79"><a href="https://www.pokemongroup.com/pokemon-sun-and-moon/">Pokemon Sun and Moon</a>
</li>
<li class="cat-item cat-item-184"><a href="https://www.pokemongroup.com/pubg-mobile/">PUBG Mobile</a>
</li>
<li class="cat-item cat-item-471"><a href="https://www.pokemongroup.com/twd-survivors/">TWD Survivors</a>
</li>
<li class="cat-item cat-item-486"><a href="https://www.pokemongroup.com/wild-rift/">Wild Rift</a>
</li>
<li class="cat-item cat-item-158"><a href="https://www.pokemongroup.com/wizards-unite/">Wizards Unite</a>
</li>
</ul>

<!-- wp:template-part {"slug":"footer","theme":"gydigital","tagName":"footer"} /-->