<!-- wp:template-part {"slug":"header","theme":"gydigital","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"align":"full","style":{"color":{"gradient":"linear-gradient(180deg,rgb(251,105,98) 0%,var(--wp--preset--color--main) 100%)"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background:linear-gradient(180deg,rgb(251,105,98) 0%,var(--wp--preset--color--main) 100%)"><!-- wp:group {"align":"wide","className":"gy-grid post-grid","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide gy-grid post-grid"><!-- wp:post-title {"style":{"spacing":{"padding":{"right":"12px"}}},"textColor":"white"} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"480px","sizeSlug":"large","align":"wide"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"-100px","padding":{"top":"40px","right":"12px","bottom":"40px","left":"12px"}}}},"backgroundColor":"white","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group alignwide has-white-background-color has-background" style="margin-top:-100px;padding-top:40px;padding-right:12px;padding-bottom:40px;padding-left:12px"><!-- wp:post-author {"showAvatar":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->
<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},{"padding":{"top":"24px","right":"16px","left":"16px"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
	<!-- wp:group -->
<div class="wp-block-group has-white-background-color has-background" style="margin-top:0px;padding-top:24px;padding-right:16px;margin-bottom:0px;padding-left:16px;"><!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- wp:group -->
<div class="share-buttons gy-grid">
<div class="share-twitter">
<a href="https://twitter.com/intent/tweet?text=Jurassic World Alive Tier List (2.19 – Nov 2022)&amp;url=https://www.pokemongroup.com/jurassic-world-alive-dinosaurs-ratings-tiers/?sb&amp;via=gauarvyadav26" target="_blank">
<svg id="twitter" data-name="twitter" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 58.1 47.2">
<title>twitter</title>
<path d="M54.86,20.19v1.55c0,15.74-12,33.88-33.88,33.88A33.64,33.64,0,0,1,2.74,50.27a24.55,24.55,0,0,0,2.88.15A23.84,23.84,0,0,0,20.4,45.33,11.93,11.93,0,0,1,9.27,37.07a15,15,0,0,0,2.25.18,12.58,12.58,0,0,0,3.13-.41A11.91,11.91,0,0,1,5.1,25.17V25a12,12,0,0,0,5.38,1.51A11.92,11.92,0,0,1,6.8,10.61,33.84,33.84,0,0,0,31.35,23.06a13.44,13.44,0,0,1-.29-2.73,11.92,11.92,0,0,1,20.61-8.15,23.43,23.43,0,0,0,7.56-2.87A11.87,11.87,0,0,1,54,15.88,23.87,23.87,0,0,0,60.84,14,25.59,25.59,0,0,1,54.86,20.19Z" transform="translate(-2.74 -8.42)"></path>
</svg>
<p>Tweet</p>
</a>
</div>
<div class="share-facebook">
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.pokemongroup.com/jurassic-world-alive-dinosaurs-ratings-tiers/?sb" target="_blank">
<svg id="facebook" data-name="facebook" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30.61 59.03">
<title>facebook</title>
<path d="M47.2,12.76H41.63c-4.36,0-5.18,2.09-5.18,5.11v6.71h10.4l-1.38,10.5h-9V62H25.59V35.07h-9V24.57h9V16.84c0-9,5.5-13.87,13.52-13.87a69.4,69.4,0,0,1,8.09.43Z" transform="translate(-16.59 -2.97)"></path>
</svg>
<p>Share</p>
</a>
</div>
<div class="share-pinterest">
<a href="https://pinterest.com/pin/create/button/?url=https://www.pokemongroup.com/jurassic-world-alive-dinosaurs-ratings-tiers/?sb&amp;media=https://www.pokemongroup.com/wp-content/uploads/2018/06/Jurassic-World-Alive-Dinosaurs-Ratings-and-Tiers.jpg&amp;description=Jurassic World Alive Tier List (2.19 – Nov 2022)" target="_blank">
<svg id="pinterest" data-name="pinterest" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 61.48 61.48">
<title>pinterest</title>
<path d="M31.78,63a30.1,30.1,0,0,1-8.73-1.28,25.52,25.52,0,0,0,3.12-6.56s.36-1.36,2.16-8.45c1,2,4.16,3.84,7.48,3.84,9.89,0,16.61-9,16.61-21.09,0-9.09-7.72-17.61-19.49-17.61C18.37,11.83,11,22.32,11,31c0,5.28,2,10,6.28,11.77a1.06,1.06,0,0,0,1.52-.8c.16-.52.48-1.88.64-2.44A1.51,1.51,0,0,0,19,37.85a8.93,8.93,0,0,1-2-6C17,24,22.77,17.07,32.1,17.07c8.24,0,12.81,5,12.81,11.81,0,8.85-3.92,16.33-9.77,16.33a4.76,4.76,0,0,1-4.84-5.92C31.22,35.41,33,31.2,33,28.4c0-2.52-1.36-4.64-4.16-4.64-3.28,0-5.92,3.4-5.92,8a12.81,12.81,0,0,0,1,4.88c-3.36,14.25-4,16.73-4,16.73a26.94,26.94,0,0,0-.52,7.08A30.77,30.77,0,1,1,31.78,63Z" transform="translate(-1.04 -1.5)"></path>
</svg>
<p>Pin</p>
</a>
</div>
</div>
<!-- /wp:group -->
<!-- wp:comments {"align":"wide","className":"is-layout-constrained"} -->
<div class="wp-block-comments alignwide is-layout-constrained"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:group {"style":{"typography":{"fontStyle":"medium","fontWeight":"600"}}} -->
<div class="wp-block-group" style="font-style:medium;font-weight:600;"><!-- wp:comment-author-name /--></div>
<!-- /wp:group -->
<!-- wp:comment-content /-->

<!-- wp:comment-reply-link /-->

<!-- /wp:comment-template -->

<div id="comments">
				<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div><script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24ERq4ydhuq95lJZbx%2F1RBA0"+"&opts=16798&num=10&ts=1651661923074");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->
			</div></div>
<!-- /wp:comments -->

<!-- wp:template-part {"slug":"footer","theme":"gydigital","tagName":"footer"} /-->